/* src/shared/Header.module.css */

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 15px;
  position: relative;
}

.appHeaderContent {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.appLogo {
  width: 50px;
  height: 50px;
}

.headerTitle {
  font-family: "Comic Sans MS", cursive;
  font-size: 2.8em;
  color: #0056b3;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 18px 0;
  background-color: #ffe0b2;
  border-radius: 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  padding: 14px 28px;
  border-radius: 15px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.1s ease;
  font-size: 1.2em;
  color: #8d6e63;
}

.navLink:hover {
  background-color: #ffcc80;
  transform: translateY(-2px);
}

.activeNavLink {
  background-color: #ff8a65;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.inactiveNavLink {
  color: #8d6e63;
  background-color: transparent;
}

.inactiveNavLink:hover {
  background-color: #ffcc80;
}
